.pytest_cache
dist
__pycache__/
*.py[cod]
*.egg-info
MUJOCO_LOG.TXT
.claude
academic-research-skills-3.9.2
/logs/
/results/
/final_poster.zip
/final_report/iclr2026.zip
final_report/**/*.aux
final_report/**/*.log
final_report/**/*.out
final_report/**/*.bbl
final_report/**/*.blg
final_report/**/*.fdb_latexmk
final_report/**/*.fls
final_report/**/*.synctex.gz
final_report/**/*.toc
final_poster/*.aux
final_poster/*.log
final_poster/*.out
final_poster/*.bbl
final_poster/*.blg
final_poster/*.fdb_latexmk
final_poster/*.fls
final_poster/*.synctex.gz
final_poster/*.toc
